node_modules
.next
.git
.gitignore
Dockerfile
compose.yaml
.dockerignore
npm-debug.log
.env
.env.*
!.env.example
coverage
tests/e2e/.reports
tests/e2e/screenshots
tests/e2e/logs
.vercel
supabase/.branches
supabase/.temp
